
  body{
    background-color:#8d8a8ad3;
    color:#0c0101;

    font-family: Arial, Helvetica, sans-serif; 
    font-size:14px;
    font-weight: normal;

    line-height:1.5em;
    margin:0 250px;
}

.main-content img { 
  float: left; 
  padding: 10px 20px 20px 10px;
 }
 
.container{
    width:100%;
}

.box-1{
    background-color:#555ed8;
    color: #ffffff;
}
  div {
    border-radius: 10px;
  }
  
  #header {
    height: 50px;
    width: 100%;
    background-color: #ffcccc;
    position: right;    
  }
  
  #footer {
    height: 50px;
    width: 100%;
    background-color: #ffcccc;
    clear: both;
    position: relative;
  }
  
  .left {
    height: 15px;
    width: 45px;
    float: left;
    position: fixed;
  }
  
  .right {
    height: 15px;
    width: 45px;
    float: right;
    position: inherit;
  }
.block{
    Float:left;
    width:33.3%;
  }
  .stuff{
  display: inline-block;
  margin-top: 10px;
  margin-left: 55px;
  width: 100%;
  height: 100px;
  }

  p,
  li {
    font-family: Arial, Helvetica, sans-serif; 
    font-size:14px;
  }
  
  .head {
    font-size: 16px;
    border:0.1rem black solid;
    padding:0.2rem;
  }
  
  #name {
    font-family: Arial, Helvetica, sans-serif; 
    font-size:16px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }

  #nameR {
    font-family: Arial, Helvetica, sans-serif; 
    font-size:16px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
  }

  a {
    color: black;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 500px) 
  { .left,
    .right {
      display: none;
  }


